@model IEnumerable<Rating.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    double AVG = ViewBag.AVG;
}
<div>
    <h1 class="headrs">
        USERS FEEDBACK
    </h1>
    <div class="heading-avg">
        AVERAGE RATING: @AVG
    </div>
    <div>
        <img class="mb-4 noselect whatsapp-icon" src="~/whatsapp.ico" alt="logo" width="80" role="img" />
    </div>
</div>
<p>
    <a class="btn btn-outline-success fw-bold" asp-action="Create">Create a new feedback</a>
</p>
@using (Html.BeginForm(nameof(Index)))
{
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <a class="fw-bold" style="color: #353c48; padding: 16px; font-size: larger;" asp-action="Index">Back To All Feedbacks</a>
            <div class="searchbar">
                <input class="search_input" type="text" name="Search" placeholder="Search feedback by username or description" />
                <button type="submit" class="search_icon">
                    <i class="fas fa-search"></i>
                </button>
                <input type="submit" hidden>

            </div>
        </div>
    </div>
}
<div class="feedback-class">
    @foreach (var item in Model)
    {
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header fw-bold">@item.time.ToString("M/d/yyyy  hh:mm  tt")</div>
            <div class="card-body">
                <h5 class="card-title fw-bold">@item.username</h5>
                <h6 class="card-subtitle">
                    @{
                        int i = 0;
                        for (; i < item.rate; i++)
                        {
                            <i class="bi-star-fill"></i>
                        }
                        for (i = item.rate; i < 5; i++)
                        {
                            <i class="bi-star"></i>
                        }
                    }
                </h6>
                <p class="card-text">@item.description</p>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.username" class="btn btn-primary action">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.username" class="btn btn-primary action">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.username" class="btn btn-primary action">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
